<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>project_name</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">페이지_1</a>
            <a href="/">페이지_2</a>
            <a href="/">페이지_3</a>
        </nav>
    </header>
    <main role='main'>
        {% block main %}
        {% endblock %}
    </main>
    <script src="../static/index.js"></script>
</body>
</html>